{% extends 'structure1.html' %}

{% block viewport %}
      <h3>{{ message }}</h3>
        <main role="" class="container ml-0 col-lg-3">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <div class="media text-muted pt-3 mb-2">
                    <img data-src="holder.js/64x64?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">
                </div>
                    <h6 class="pb-2 mb-0">
                        {{ username }}
                    </h6>
                    <p class="media-body pb-2 mb-0 small lh-125">
                        <strong class="d-block text-gray-dark">Supremes</strong>
                        {{ num_tweet }}
                    </p>
                    <p class="media-body pb-0 mb-0 small lh-125">
                        <strong class="d-block text-gray-dark">Friends</strong>
                        {{ num_friend }}
                    </p>
            </div>
            <form action='/follow' class="form-inline my-2 my-lg-0", method='POST'>
                <input name='follow' value='{{ msg }}' type="hidden">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Follow</button>
            </form>
        </main>
        <main role="main" class="container ml-0 col-lg-auto">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Supremes
            </h6>
                {% for user,tweet,time in list_of_tweets %}
                    <div class="media text-muted pt-3">
                        <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">{{ user }} &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {{ time }}</strong>
                        {{ tweet }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </main>
        <main role="main" class="container ml-0 col-lg-auto">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Friends
            </h6>
                {% for friend in list_of_friends %}
                    <div class="media text-muted pt-3">
                        <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">{{ friend }}</strong>
                        </p>
                    </div>
                {% endfor %}
            </div>
        </main>
    </div>

{% endblock viewport %}