{% extends 'structure1.html' %}

{% block viewport %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
</div>
<p>{{ message }}</p>
{% endblock viewport %}



    <!-- <h1>Web Trader Center</h1>
    <p>{{ message }}</p>
    <p>{{ user_id }}</p>
    <a href="http://127.0.0.1:5000/buy">
        <input type="submit" value="Buy">
    </a>
    <p></p>
    <a href="http://127.0.0.1:5000/sell">
        <input type="submit" value="Sell">
    </a>
    <p></p>
    <a href="http://127.0.0.1:5000/lookup_quote">
        <input type="submit" value="Lookup_Quote">
    </a>
    <p></p>
    <a href="http://127.0.0.1:5000/portfolio">
        <input type="submit" value="Portfolio">
    </a>
    <p></p>
    <a href="http://127.0.0.1:5000/loggin">
        <input type="submit" value="Log-out">
    </a> -->