<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://media.cdnandroid.com/1c/2e/4d/3f/imagen-supreme-0thumb.jpg">
    <title>Supreme</title>
        {% block css_dependencies %}å
        {% endblock css_dependencies %}
        {% block js_dependencies %}
        {% endblock js_dependencies %}
    </head>
    <body>
        {% block viewport %}
            <p>This is default content.</p>
        {% endblock viewport %}
    </body>
</html>